.login-page {
    background-color: #41444b;
    opacity: 1;
    height: 100vh;
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-family: 'Roboto' , sans-serif;
}

.login-page h1 {
    padding-bottom: 10vh;
}

.main-login {
    margin-top: 10vh;
    max-height: 60vh;
    width: 60vw;
    margin: auto 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    /* overflow: hidden; */
}
.login-img {
    width: 30vw;
}
.login-img-wrapper {
    display: block;
    overflow: hidden;
    max-height: 60vh;
}
.login-content {
    background-color: #f6f6f6;
    color: black;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: auto 15%;
    font-size: 1.2rem;
}
.login-form input, .login-form button {
    border-radius: 20px;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid grey;
    opacity: 0.8;
}
.login-form input:focus,button:focus {
    border: 2px solid;
    outline: none;
}
.login-form button:hover {
    opacity: 1;
}