.card-modal {
    display: grid;
    grid-template-rows: 1fr 17fr 1fr;
    height: 100%;
    font-size: calc(10px + 3vmin);
}
.btn-close-card {
    grid-row: 1/2;
    justify-self: end;
    font-size: 1.7rem;
    color: #767c77;
}

.card-title {
    margin-bottom: 0;
    overflow-wrap: break-word;
}

#lists-select {
    font-family: 'Roboto' , sans-serif;
}

.delete-card {
    grid-row: 3/4;
    font-size: calc(10px + 3vmin);
    border-radius: 10px;
    place-self: center end;
}

.add-duedate {
    color: rgb(78, 78, 78);
    cursor: pointer;
}

.add-duedate:hover {
    color: black;
}

.date-picker-input{
    border-color: #216ba5;
    width: 125px;
    margin-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.date-picker-greyed {
    border-color: grey;
    color: grey;
    width: 125px;
    margin-left: 20px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media(min-width: 992px) {
    .card-modal {
        font-size: 1.2rem;
        padding: 10px;
    }
    .delete-card {
        font-size: 1rem;
    }
}