.add-card {
    min-height: 40px;
    background-color: transparent;
    border-radius: 5px; /* % causes wierd borders */
    border: none;
    color: #f9f6f7;
    font-size: 5vmax;
    text-align: left;
}
.add-card:hover {
    background: rgba(0,0,0,0.5);
}
.add-list {
    height: 50px;
    background-color:  rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 1px solid grey;
    color: #f9f6f7;/* #172b4d;*/
    font-size: 5vmax;
    text-align: center;
  }
.add-list:hover {
    background-color: #f9f6f7;
    opacity: 0.5;
    color: black;
}

.add-form-wrapper {
    border: 1px solid grey;
    height: 15vh;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
}
.add-form-wrapper textarea {
    min-height: 10vh;
    font-family: "Montserrat", sans-serif;
    font-size: 5vmax;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;  /* the width and height will include content, padding and border */
}

.add-form {
    width: 100%;
}

.add-area-btns {
    display: flex;
}

.add-btn {
    font-size: 5vmax;
    flex-grow: 1;
    border-radius: 5px;
}

.add-btn:hover {
    opacity: 0.5
}

.cancel-btn {
    flex-grow: 1;
    border-radius: 5px;
    font-size: 5vmax;
}

.cancel-btn:hover {
    opacity: 0.5;
}

@media(min-width: 992px) {
    .add-card {
        font-size: 1.2rem; 
        max-width: calc(100% - 20px);
        
    }
    .add-list {
        font-size: 1.2rem;
        width: 250px;
        min-width: 250px;
        text-align: left;
        margin: 4px;
    }
    .add-form-wrapper textarea {
        font-size: 1.2rem;
        min-width: 220px;
    }
    .add-btn {
        font-size: 1.2rem;
    }
    .cancel-btn {
        font-size: 1.2rem;
        background-color: #931a25;
        color: white;
    }


  }
