
.editable-list-title {
    color: black;
    width: 90%;
    padding-left: 5px;
    font-size: 5vmax;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
}

@media(min-width: 992px) {

    .editable-list-title {
        font-size: 1.6rem;
    }
}