.list {
    width: 250px;
    min-height: 50px;
    border: 1px solid grey;
    margin: 4px;
    border-radius: 5%;
    text-align: left;
    padding: 15px;
    background-color: #ebecf0;
  }


.lists-wrap {
    display: flex;
    flex-direction: row;
}

.cards-wrapper {
    margin: 5px;
    border-radius: 5%;
    
}

.card {
    margin: 0;
    padding-left: 5px;
    width: 100%;
    background-color: white;

}

.card p {
    margin: 10px auto;
    font-size: 1.1rem;
}