#modal {
    position: fixed;
    z-index: 10;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    max-height: 80vh;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    display: block;
    overflow-y: auto;
  }

#backdrop {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    background: rgba(0, 0, 0, 0.4)
  }

.modal-content {
  overflow-y: auto;
}

  @media(min-width: 992px) {
    #modal {
        top: 10vh;
        left: 20vw;
        right: 20vw;
        height: 60vh;
    }
  }