.add-project {
    font-size: 1.2rem;
    border-radius: 10px;
}
.project-modal-header {
    display: grid;
    grid-template-columns: 12fr 1fr;
}
.project-modal-title {
    grid-column: 1/2;
    justify-self : center;
}
.close-project-modal {
    grid-column: 2/3;
    justify-self: end;
}

#title {
    margin-right: 20px;
}

#due-date {
    margin-right: 20px;
}