body{
  opacity: 1;
  background: url('./images/title-image.jpe') no-repeat center center fixed;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: cover; 
}

h1 {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 5vh;
  max-height: 5vh;
  font-size: calc(2px + 2vmin);
  font-style: italic;
  color: white;
  position: fixed;
  top: 2px;
  right: 0;
  width: 100%;
  z-index: 2;
}

.main {
  padding-top: 6vh;
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media(max-width: 900px) {

  .main {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}




