.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 10vh;
  font-size: calc(5px + 2vmin);
  color: white;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2;
}

.main {
  padding-top: 11vh;
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
}





