.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.main {
  margin-top: 1vh;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.add-list {
  width: 250px;
  height: 50px;
  margin: 4px;
  background-color: transparent;
  border-radius: 5%;
  color: #172b4d;
}

.add-list:hover {
  opacity: 0.6;
}


