
/* Will later be moved to a navbar component when i have more pages, which is why the classnames have App */
.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .App-header {
    min-height: 5vh;
    max-height: 10vh;
    font-size: 3vh;
    font-style: italic;
    color: #f9f6f7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr; 
    background-color: rgba(0, 0, 0, 0.7);
  }

  .app-title {
    grid-column: 2/3 ;
    font-family: 'Castoro', serif;
  }

  .project {
    grid-column: 3/4;
    background-color: transparent !important;
    z-index: 2;
    font-size: calc(10px + 1vmax)
  }

  .logout {
    background-color: transparent !important;
    grid-column: 4/5;
    z-index: 2;
    font-size: calc(10px + 1vmax)
  }

  .logout:hover, .project:hover {
    background-color: #5c6068 !important; 
  }

  .board-footer {
    height: 50px;
  }

  .main {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    text-align: left;
    min-height: calc(100vh - 150px); /* will need fixing while adding responsiveness */ 
  }
  
@media(min-width: 992px) {
  body{
    overflow-y: hidden; /* to keep the body fixed - unscrollable*/
  }
  .main {
        flex-direction: row;
        align-items: flex-start;
        margin-left: 20px;
      }
      .App-header {
        font-size: calc(2px + 2vmin);
        background-color: rgba(0, 0, 0, 0.4);
        top: 2px;
      }
}